%div{:id => "#{dom_id booking}"} 
  %p
    %strong Booking id:
    = booking.id
  %p
    %strong Flying From:
    = booking.flightid
  %p
    %strong Flying To:
    = booking.flightid
  %p
    %strong Passenger name:
    = booking.fname + " " + booking.sname

  %p
    %strong Email:
    = booking.email

