%div{:id => "#{dom_id booking}"} 
  %p
    %strong Booking Reference:
    = booking.id
  %p
    %strong Flying From:
    = booking.flight.dep_airport.airport_code
  %p
    %strong Flying To:
    = booking.flight.arr_airport.airport_code
  %p
    %strong Leaving On:
    = booking.flight.date_time
  %p
    %strong Lead Passenger Email:
    = booking.passengers&.first&.email
    %p
    %strong Lead Passenger Name:
    = booking.passengers&.first&.fname
  %p
    %strong Lead Passenger Surname:
    = booking.passengers&.first&.sname


  


