%div{:id => "#{dom_id booking}"} 
  %p
    %strong Booking id:
    = booking.id
  %p
    %strong Flying From:
    = booking.flight_id
  %p
    %strong Flying To:
    = booking.flight_id
  %p
    %strong Lead Passenger Surname:
    = booking.passenger_id

  %p
    %strong Email:
    = booking.passenger_id
 

