= form_tag(search_for_flight_path, :method => "get") do
 = select_tag :search, options_from_collection_for_select(@results, "depairport", "depairport"), {:prompt => 'Departure Airport'}
 = select_tag :search_arr_airport, options_from_collection_for_select(@results, "arrairport", "arrairport"), {:prompt => 'Arrival Airport'}
 = select_tag :search_dep_date, options_from_collection_for_select(@results, "datetime", "datetime"), {:prompt => 'Date'}
 = select_tag :search_num_of_passengers, options_for_select([ '1', '2', '3', '4']), {:prompt => 'Number of Passengers'}
 = button_tag "Search for Flight"

%h3 Search Results
- @results.each do |result|
 = "Flight ID: #{result.id}" 
 %br/
 = "Departure Airport: #{result.depairport}"
 %br/
 = "Arrival Airport: #{result.arrairport}"
 %br/
 = "Date And Time: #{result.datetime}"
 %br/
 %br/
 
 = link_to "Book This Flight", about_path
 
 %br/
 \------------------------------------------------
 %br/